<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.epic.tinker.dao.ExcelMapper">
  <resultMap id="BaseResultMap" type="com.chinamobile.epic.tinker.entity.Excel">
    <id column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="category_type" jdbcType="DOUBLE" property="categoryType" />
    <result column="level_name_1" jdbcType="VARCHAR" property="levelName1" />
    <result column="level_name_2" jdbcType="VARCHAR" property="levelName2" />
    <result column="level_name_3" jdbcType="VARCHAR" property="levelName3" />
    <result column="item_weight" jdbcType="VARCHAR" property="itemWeight" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="levelset_name" jdbcType="VARCHAR" property="levelsetName" />
    <result column="comments_result" jdbcType="VARCHAR" property="commentsResult" />
    <result column="remark" jdbcType="TIMESTAMP" property="remark" />
    <result column="overall_comments" jdbcType="TIMESTAMP" property="overallComments" />
  </resultMap>

  <!--业务维度导出-->


  <!--用户维度导出-->

  <select id="selectToExcel1" parameterType="java.util.HashMap" resultType="com.chinamobile.epic.tinker.entity.Excel">
    select e.name as organization_name,b.primary_item_name as levelName1,b.secondary_item_name as levelName2,
    b.item_name as levelName3,b.item_desc as itemDesc,b.level_set as levelSet,b.item_weight as itemWeight,b.comment_result as commentResult,
    b.source,b.category_type as categoryType, b.remark as remark,c.totalCommentResult as overallComments,c.total_description as totalDescription,d.name as businessName,f.username as userName
    from
    t_business_estimate as a
    left join t_tenants_target_item_business as b
    on b.estimate_id = a.id
    left join t_tenants_target_item_comments as c
    on c.id = b.item_comments_id
    left join t_bussiness as d
    on d.id = a.business_id
    left join t_organization as e
    on e.id =d.organization_id
    left join t_user as f
    on a.user_id = f.id
    where
    a.deleted =0
    <if test="id != null and id != ''">
     and  a.id = #{id}
    </if>
    <if test="categoryType != null and categoryType != ''">
     and  b.category_type = #{categoryType}
    </if>
    order by b.category_type,b.primary_item_name, b.secondary_item_name
  </select>

  <select id="selectToExcel2" parameterType="java.util.HashMap" resultType="com.chinamobile.epic.tinker.entity.Excel">
    select d.name as organization_name,b.primary_item_name as levelName1,b.secondary_item_name as levelName2,
    b.item_name as levelName3,b.item_desc as itemDesc,b.level_set as levelSet,b.item_weight as itemWeight,b.comment_result as commentResult,
    b.source,b.category_type as categoryType, b.remark as remark,c.totalCommentResult as overallComments,e.username as userName
     from
    t_business_estimate as a
    left join t_tenants_target_item_business as b
    on b.estimate_id = a.id
    left join t_tenants_target_item_comments as c
    on c.id = b.item_comments_id
    left join t_organization as d
    on d.id =a.business_id
    left join t_user as e
    on a.user_id = e.id
    where
    a.deleted =0
    <if test="id != null and id != ''">
      and a.id = #{id}
    </if>
    <if test="categoryType != null and categoryType != ''">
      and b.category_type = #{categoryType}
    </if>
    order by b.category_type,b.primary_item_name, b.secondary_item_name
  </select>
</mapper>