<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.epic.tinker.dao.ItemTemplateMapper">
  <select id="getItemTemplate" resultType="com.chinamobile.epic.tinker.entity.ItemTemplate" parameterType="java.util.HashMap">
    select * from
    t_tenants_target_item_template as a
    where
     1=1
    <if test="source != null">
      and source = #{source}
    </if>
    <if test="categoryType != null and categoryType != ''">
      and category_type = #{categoryType}
    </if>
  </select>

  <select id="selectById" parameterType="java.lang.String" resultType="com.chinamobile.epic.tinker.entity.ItemTemplate">
      select * from
      t_tenants_target_item_template
      where
      id = #{id}
    </select>

  <insert id="insertItemTemplate" parameterType="com.chinamobile.epic.tinker.entity.ItemTemplate">
    insert into
    t_tenants_target_item_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id !=null and id != ''">
        id,
      </if>
      <if test="source !=null and id != ''">
        source,
      </if>
      <if test="categoryType !=null and id != ''">
        category_type,
      </if>
      <if test="itemName !=null and id != ''">
        item_name,
      </if>
      <if test="itemDesc !=null and id != ''">
        item_desc,
      </if>
      <if test="itemWeight !=null and id != ''">
        item_weight,
      </if>
      <if test="isEnabled !=null and id != ''">
        is_enabled,
      </if>
      <if test="remark !=null and id != ''">
        remark,
      </if>
      <if test="secondaryItemName !=null and id != ''">
        secondary_item_name,
      </if>
      <if test="primaryItemName !=null and id != ''">
        primary_item_name,
      </if>
      <if test="levelSet !=null and id != ''">
        level_set,
      </if>
      <if test="createDate !=null and id != ''">
        create_date,
      </if>
      <if test="version !=null and id != ''">
        version,
      </if>
      <if test="ItemCode !=null and id != ''">
        item_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id !=null and id != ''">
        #{id},
      </if>
      <if test="source !=null and id != ''">
        #{source},
      </if>
      <if test="categoryType !=null and id != ''">
        #{categoryType},
      </if>
      <if test="itemName !=null and id != ''">
        #{itemName},
      </if>
      <if test="itemDesc !=null and id != ''">
        #{itemDesc},
      </if>
      <if test="itemWeight !=null and id != ''">
        #{itemWeight},
      </if>
      <if test="isEnabled !=null and id != ''">
        #{isEnabled},
      </if>
      <if test="remark !=null and id != ''">
        #{remark},
      </if>
      <if test="secondaryItemName !=null and id != ''">
        #{secondaryItemName},
      </if>
      <if test="primaryItemName !=null and id != ''">
        #{primaryItemName},
      </if>
      <if test="levelSet !=null and id != ''">
        #{levelSet},
      </if>
      <if test="createDate !=null and id != ''">
        #{createDate},
      </if>
      <if test="version !=null and id != ''">
        #{version},
      </if>
      <if test="ItemCode !=null and id != ''">
        #{ItemCode},
      </if>
    </trim>
  </insert>

  <update id="updateItemTemplate" parameterType="com.chinamobile.epic.tinker.entity.ItemTemplate">
    update t_tenants_target_item_template
    <set>
      <if test="source !=null and id != ''">
        source = #{source},
      </if>
      <if test="categoryType !=null and id != ''">
        category_type = #{categoryType},
      </if>
      <if test="itemName !=null and id != ''">
        item_name = #{itemName},
      </if>
      <if test="itemDesc !=null and id != ''">
        item_desc = #{itemDesc},
      </if>
      <if test="itemWeight !=null and id != ''">
        item_weight = #{itemWeight},
      </if>
      <if test="isEnabled !=null and id != ''">
        is_enabled = #{isEnabled},
      </if>
      <if test="remark !=null and id != ''">
        remark = #{remark},
      </if>
      <if test="secondaryItemName !=null and id != ''">
        secondary_item_name = #{secondaryItemName},
      </if>
      <if test="primaryItemName !=null and id != ''">
        primary_item_name = #{primaryItemName},
      </if>
      <if test="levelSet !=null and id != ''">
        level_set = #{levelSet},
      </if>
      <if test="createDate !=null and id != ''">
        create_date = #{createDate},
      </if>
      <if test="version !=null and id != ''">
        version = #{version},
      </if>
      <if test="ItemCode !=null and id != ''">
        item_code = #{ItemCode},
      </if>
    </set>
    where
    id =#{id}
  </update>


</mapper>